#Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/schema.rb
/db/seeds.rb

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore the netbeans project directory.
/nbproject

# Ignore folders where avatar images are stored in the proyect.
/avatars
/public/system
/public/assets
/vendor/bundle
/lib
# Ignore this MacOs file.
.DS_Store

# Ignore the RubyMine project directory.
/.idea

# Ignore the database configuration settings.
config/database.yml

#MISCELLANEOUS FILES
/AppDefaults
/BackupFiles
/Templetes
app/views/partials/_index.erb
app/views/partials/_modals.erb
app/views/partials/_show.erb
app/views/partials/_search_options.erb
app/views/partials/_javascript.erb
app/views/partials/_form.erb
app/views/partials/_generate_random_data.erb
/db/seed_backup.rb
/public/.htaccess
faye.ru
git-init.sh
erd.pdf
virtual_host.conf

#ASSETS
app/assets/images/erd.pdf
app/assets/javascripts/custom.js
app/assets/javascripts/faye_function.js
app/assets/javascripts/ajax_calls.js
app/assets/javascripts/development_templete/
app/assets/stylesheets/development_templete/
app/assets/bootstrap/test/
app/assets/javascripts/test/
app/assets/stylesheets/test/

#CONTROLLERS
app/controllers/test_controller.rb
app/views/test
test/controllers/test_controller_test.rb
app/helpers/test_helper.rb
test/helpers/test_helper_test.rb
app/assets/javascripts/test.js.coffee
app/assets/stylesheets/test.css.scss

app/controllers/development_tools_controller.rb
app/views/development_tools
test/controllers/development_tools_controller_test.rb
app/helpers/development_tools_helper.rb
test/helpers/development_tools_helper_test.rb
app/assets/javascripts/development_tools.js.coffee
app/assets/stylesheets/development_tools.css.scss

app/controllers/ajax_calls_controller.rb
app/views/ajax_calls
test/controllers/ajax_calls_controller_test.rb
app/helpers/ajax_calls_helper.rb
test/helpers/ajax_calls_helper_test.rb
app/assets/javascripts/ajax_calls.js.coffee
app/assets/stylesheets/ajax_calls.css.scss

app/controllers/global_controller.rb
app/views/global
test/controllers/global_controller_test.rb
app/helpers/global_helper.rb
test/helpers/global_helper_test.rb
app/assets/javascripts/global.js.coffee
app/assets/stylesheets/global.css.scss

#ACCOUNTS
app/assets/javascripts/accounts.js.coffee
app/assets/stylesheets/accounts.css.scss
app/controllers/accounts_controller.rb
app/helpers/accounts_helper.rb
app/models/account.rb
app/views/accounts/
config/locales/en.accounts.yml
config/locales/es.accounts.yml
db/migrate/*create_accounts.rb
test/controllers/accounts_controller_test.rb
test/fixtures/accounts.yml
test/helpers/accounts_helper_test.rb
test/models/account_test.rb

#ACCOUNT_TYPES
app/assets/javascripts/account_types.js.coffee
app/assets/stylesheets/account_types.css.scss
app/controllers/account_types_controller.rb
app/helpers/account_types_helper.rb
app/models/account_type.rb
app/views/account_types/
config/locales/en.account_types.yml
config/locales/es.account_types.yml
db/migrate/*create_account_types.rb
test/controllers/account_types_controller_test.rb
test/fixtures/account_types.yml
test/helpers/account_types_helper_test.rb
test/models/account_type.rb

#APP
app/assets/javascripts/apps.js.coffee
app/assets/stylesheets/apps.css.scss
app/controllers/apps_controller.rb
app/helpers/apps_helper.rb
app/models/app.rb
app/views/apps/
config/locales/en.apps.yml
config/locales/es.apps.yml
db/migrate/*create_apps.rb
test/controllers/apps_controller_test.rb
test/fixtures/apps.yml
test/helpers/apps_helper_test.rb
test/models/app_test.rb

#ADD_ONS
app/assets/javascripts/add_ons.js.coffee
app/assets/stylesheets/add_ons.css.scss
app/controllers/add_ons_controller.rb
app/helpers/add_ons_helper.rb
app/models/add_on.rb
app/views/add_ons/
config/locales/en.add_ons.yml
config/locales/es.add_ons.yml
db/migrate/*create_add_ons.rb
test/controllers/add_ons_controller_test.rb
test/fixtures/add_ons.yml
test/helpers/add_ons_helper_test.rb
test/models/add_on_test.rb

#APP_ADD_ONS
app/assets/javascripts/app_add_ons.js.coffee
app/assets/stylesheets/app_add_ons.css.scss
app/controllers/app_add_ons_controller.rb
app/helpers/app_add_ons_helper.rb
app/models/app_add_on.rb
app/views/app_add_ons/
config/locales/en.app_add_ons.yml
config/locales/es.app_add_ons.yml
db/migrate/*create_app_add_ons.rb
test/controllers/app_add_ons_controller_test.rb
test/fixtures/app_add_ons.yml
test/helpers/app_add_ons_helper_test.rb
test/models/app_add_on_test.rb

#CUSTOM_SCAFFOLDS
app/assets/javascripts/custom_scaffolds.js.coffee
app/assets/stylesheets/custom_scaffolds.css.scss
app/controllers/custom_scaffolds_controller.rb
app/helpers/custom_scaffolds_helper.rb
app/models/custom_scaffold.rb
app/views/custom_scaffolds/
config/locales/en.custom_scaffolds.yml
config/locales/es.custom_scaffolds.yml
db/migrate/*create_custom_scaffolds.rb
test/controllers/custom_scaffolds_controller_test.rb
test/fixtures/custom_scaffolds.yml
test/helpers/custom_scaffolds_helper_test.rb
test/models/custom_scaffold_test.rb

#COLUMN_ATTRIBUTES
app/assets/javascripts/column_attributes.js.coffee
app/assets/stylesheets/column_attributes.css.scss
app/controllers/column_attributes_controller.rb
app/helpers/column_attributes_helper.rb
app/models/column_attribute.rb
app/views/column_attributes/
config/locales/en.column_attributes.yml
config/locales/es.column_attributes.yml
db/migrate/*create_column_attributes.rb
test/controllers/column_attributes_controller_test.rb
test/fixtures/column_attributes.yml
test/helpers/column_attributes_helper_test.rb
test/models/column_attribute_test.rb

#SCHEMA MIGRATIONS
app/assets/javascripts/schema_migrations.js.coffee
app/assets/stylesheets/schema_migrations.css.scss
app/controllers/schema_migrations_controller.rb
app/helpers/schema_migrations_helper.rb
app/models/schema_migration.rb
app/views/schema_migrations/
config/locales/en.schema_migrations.yml
config/locales/es.schema_migrations.yml
db/migrate/*create_schema_migrations.rb
test/controllers/schema_migrations_controller_test.rb
test/fixtures/schema_migrations.yml
test/helpers/schema_migrations_helper_test.rb
test/models/schema_migration_test.rb

#PERMISSIONS
app/assets/javascripts/permissions.js.coffee
app/assets/stylesheets/permissions.css.scss
app/controllers/permissions_controller.rb
app/helpers/permissions_helper.rb
app/models/permission.rb
app/views/permissions/
config/locales/en.permissions.yml
config/locales/es.permissions.yml
db/migrate/*create_permissions.rb
test/controllers/permissions_controller_test.rb
test/fixtures/permissions.yml
test/helpers/permissions_helper_test.rb
test/models/permission_test.rb