<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" hidden="true" style="display:none; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><%=t("partials.modals.current_progress")%></h4>
      </div>
      <div class="modal-body" style="margin-bottom: -20px; padding-bottom: -20px;">
      </div>
      <div class="modal-footer">
        <div style="text-align: left; text-decoration: blink; color:  #285e8e;" id="please-wait-label"><%=t("partials.modals.please_wait")%></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="close-process-modal" style="display: none;"><%=t("partials.modals.finish")%></button>
      </div>
    </div>
  </div>
</div>