<div style="float: right; margin-top: 0px; margin-right: 20px;">
  <%= page_entries_info eval("@#{controller_name}")%>
</div>
<div style="text-align: center;">
  <%= will_paginate eval("@#{controller_name}"), renderer: BootstrapPagination::Rails, :class=>"pagination" %>
</div>
